footer {
  padding: 2rem 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.footer-container {
  align-items: center;
}

[md-button] {
  padding: 0 8px;
}

.brand-image {
  height: 32px;
  width: auto;
  margin-right: 1.5rem;
}

.phone {
  opacity: 0.64;
  font-size: 1.7rem;
  font-weight: 300;
  margin-left: 1.5rem;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}
