<md-toolbar color="primary" class="hero">

  <div class="container">
    <div class="flex">
      <img class="brand-image" src="../../../public/images/testingservices.png" />

      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>

      <span class="phone">Call us <strong>1.800.439.7656</strong></span>
    </div>
  </div>

  <md-toolbar-row>
    <div class="container">
      <h1 class="md-display-3">Instantly improve your product quality</h1>
      <h2 class="md-subhead">Easily automate and continously improve your software quality checking by running smart functional test suites in daily basis.</h2>
    </div>
  </md-toolbar-row>

  <md-toolbar-row>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <tsw-benefits></tsw-benefits>
            </div>
            <div class="col-xs-12 col-md-6">
              <tsw-cta></tsw-cta>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-toolbar-row>

  <md-toolbar-row>
    <tsw-screens></tsw-screens>
  </md-toolbar-row>
</md-toolbar>
