/* Demo video */

.demo-video {
  background: url(../../public/images/video_bg.jpg) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.demo-video button {
  margin: auto 2rem;
}

#video-modal-box {
  display: none;
}

.fluid-width-video-wrapper {
  width: 100%;
  position: relative;
  padding: 0;
}
.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
