<section class="block primary-block demo-video align-center">
  <div class="container">
    <h3 class="md-display-1">Check out <a href="#video-modal-box" md-fab color="primary" lightbox data-lightbox-type="inline"><md-icon class="md-24">play_arrow</md-icon></a> the video</h3>
  </div>
  <div id="video-modal-box">
    <div class="fluid-width-video-wrapper" style="padding-top: 56.2%;">
      <iframe src="https://player.vimeo.com/video/172100325?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>
