/* Screenshots */

.screens {
  position: relative;
  margin-top: 3rem;
  overflow: hidden;
}

.screen-1,
.screen-2,
.screen-3 {
  max-width: 100%;
  animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
  -webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.screen-1 {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.screen-2 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.screen-3 {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.screen-2,
.screen-3 {
  position: absolute;
  margin:0 auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.screen-1 {
  position: relative;
}
