  <!-- Start Content -->


    <!-- Start Portfolio Section -->
    <div class="project">
      <div class="container">
        <!-- Start Service Carousel -->
        <div class="recent-projects">
          <h4 class="title"><span>Services</span></h4>
          <div class="projects-carousel touch-carousel">

            <div class="portfolio-item item">
              <div class="portfolio-border">
                <div class="portfolio-thumb">
                  <!--<div class="thumb-overlay"><i class="fa fa-wrench"></i></div>-->
                  <img alt="" src="images/server.jpg" />
                </div>
                <div class="portfolio-details">
                    <h4>Seamless Setup</h4>
                    <span>Tooling your product</span>
                </div>
              </div>
            </div>

            <div class="portfolio-item item">
              <div class="portfolio-border">
                <div class="portfolio-thumb">
                  <!--<div class="thumb-overlay"><i class="fa fa-cog"></i></div>-->
                  <img alt="" src="images/bot.png" />
                </div>
                <div class="portfolio-details">
                  <h4>Accelerated Automation</h4>
                  <span>Creating your tests</span>
                </div>
              </div>
            </div>

            <div class="portfolio-item item">
              <div class="portfolio-border">
                <div class="portfolio-thumb">
                  <!--<div class="thumb-overlay"><i class="fa fa-play"></i></div>-->
                  <img alt="" src="images/rocket.jpg" />
                </div>
                <div class="portfolio-details">
                  <h4>Efficient Execution</h4>
                  <span>Run your tests. Find your bugs.</span>
                </div>
              </div>
            </div>

            <div class="portfolio-item item">
              <div class="portfolio-border">
                <div class="portfolio-thumb">
                  <!--<div class="thumb-overlay"><i class="fa fa-wrench"></i></div>-->
                  <img alt="" src="images/tools.jpg" />
                </div>
                <div class="portfolio-details">
                  <h4>Magic Maintenance</h4>
                  <span>Automatic, or with 1 Click!</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- End Recent Projects Carousel -->
      </div>
      <!-- .container -->
    </div>
    <!-- End Portfolio Section -->


    <!-- Divider -->
    <div class="hr1 margin-60"></div>


    <!-- Start News & Skill Section -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Latest News</span></h4>

          <!-- Start Latest Posts -->
          <div class="latest-posts-classic">

            <!-- Post 1 -->
            <div class="post-row">
              <div class="left-meta-post">
                <div class="post-date"><span class="day">01</span><span class="month">May</span></div>
                <div class="post-type"><i class="fa fa-star"></i></div>
              </div>
              <h3 class="post-title"><a href="#">We're Here!</a></h3>
              <div class="post-content">
                <p>It's Official. We are open for external customers.  We have been working diligently with some of our partner companies as guinea pigs to bring you the revolution of functional testing and test automation.  Contact us today to get started!</p>
              </div>
            </div>

            <!-- Post 2 -->
            <!--<div class="post-row">-->
              <!--<div class="left-meta-post">-->
                <!--<div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>-->
                <!--<div class="post-type"><i class="fa fa-picture-o"></i></div>-->
              <!--</div>-->
              <!--<h3 class="post-title"><a href="#">Gallery Post</a></h3>-->
              <!--<div class="post-content">-->
                <!--<p></p>-->
              <!--</div>-->
            <!--</div>-->

          </div>
          <!-- End Latest Posts -->

          <h4 class="classic-title"><span>How We Do What We Do</span></h4>
          <p>Code changes. Products change. Inevitably, Tests change. Probably the single most difficult thing about automated tests. With our service, you can spend more time developing code, and less time testing.</p>
          <br>
        </div>
        <!-- .col-md-6 -->

        <div class="col-md-6">

          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Statistics</span></h4>

          <div class="skill-shortcode">
            <div class="skill">
              <p>Service Uptime</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" data-percentage="99.9" style="background-color: #EB6B56;">
                  <span class="progress-bar-span">99.9%</span>
                  <span class="sr-only">99.9% Uptime</span>
                </div>
              </div>
            </div>
            <div class="skill">
              <p>Tests that Heal Themselves. Smart Tests!</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" data-percentage="30" style="background-color: #F7DA64;">
                  <span class="progress-bar-span">30%</span>
                  <span class="sr-only">30% of your tests will heal themselves. Smart Tests!</span>
                </div>
              </div>
            </div>
            <div class="skill">
              <p>Tests you can fix with 1 click!</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" data-percentage="50" style="background-color: #54ACD2;">
                  <span class="progress-bar-span">50%</span>
                  <span class="sr-only">50% Of your tests you can fix with 1 click and no code!</span>
                </div>
              </div>
            </div>
            <div class="skill">
              <p>Tests That We Can Help You With</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" data-percentage="100">
                  <span class="progress-bar-span">100%</span>
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- .col-md-6 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
    <!-- End News & Skill Section -->


    <!-- Divider -->
    <div class="hr1 margin-60"></div>


    <!-- Start Clients/Partner Section -->
    <div class="container">
      <div class="our-clients">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Our Clients</span></h4>

        <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="5">

          <!-- Client 1 -->
          <div class="client-item item">
            <a href="http://www.aurea.com/index.html"><img src="images/Aurea_Logo.png" alt="Aurea" /></a>
          </div>

          <!-- Client 2 -->
          <div class="client-item item">
            <a href="http://www.gensym.com/"><img src="images/Gensym_Logo.png" alt="Gensym" /></a>
          </div>

          <!-- Client 3 -->
          <div class="client-item item">
            <a href="http://uplandsoftware.com/tenrox/"><img src="images/Tenrox_Logo.png" alt="Tenrox by Upland" /></a>
          </div>

          <!-- Client 4 -->
          <div class="client-item item">
            <a href="https://www.crossover.com/"><img src="images/Crossover_Logo.png" alt="Crossover" /></a>
          </div>

          <!-- Client 5 -->
          <div class="client-item item">
            <a href="http://www.ignitetech.com/"><img src="images/Ignite_Logo.png" alt="Ignite Tech" /></a>
          </div>

          <!-- Client 6 -->
          <!--<div class="client-item item">-->
            <!--<a href="#"><img src="images/c6.png" alt="" /></a>-->
          <!--</div>-->

          <!--&lt;!&ndash; Client 7 &ndash;&gt;-->
          <!--<div class="client-item item">-->
            <!--<a href="#"><img src="images/c7.png" alt="" /></a>-->
          <!--</div>-->

          <!--&lt;!&ndash; Client 8 &ndash;&gt;-->
          <!--<div class="client-item item">-->
            <!--<a href="#"><img src="images/c8.png" alt="" /></a>-->
          <!--</div>-->

        </div>
      </div>
    </div>
    <!-- .container -->
    <!-- End Clients/Partner Section -->


  <!-- End Content -->


  <!-- Start Footer -->
  <footer>
    <div class="container">
      <div class="row footer-widgets">

        <!-- Start Subscribe & Social Links Widget -->
        <!--<div class="col-md-3">-->
          <!--<div class="footer-widget mail-subscribe-widget">-->
            <!--<h4>Get in touch<span class="head-line"></span></h4>-->
            <!--<p>Join our mailing list to stay up to date and get notices about our new releases!</p>-->
            <!--<form class="subscribe">-->
              <!--<input type="text" placeholder="mail@example.com">-->
              <!--<input type="submit" class="btn-system" value="Send">-->
            <!--</form>-->
          <!--</div>-->
          <!--<div class="footer-widget social-widget">-->
            <!--<h4>Follow Us<span class="head-line"></span></h4>-->
            <!--<ul class="social-icons">-->
              <!--<li>-->
                <!--<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="google" href="#"><i class="fa fa-google-plus"></i></a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="flickr" href="#"><i class="fa fa-flickr"></i></a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="instgram" href="#"><i class="fa fa-instagram"></i></a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="skype" href="#"><i class="fa fa-skype"></i></a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <!-- .col-md-3 -->
        <!-- End Subscribe & Social Links Widget -->


        <!-- Start Twitter Widget -->
        <!--<div class="col-md-3">-->
          <!--<div class="footer-widget twitter-widget">-->
            <!--<h4>Twitter Feed<span class="head-line"></span></h4>-->
            <!--<ul>-->
              <!--<li>-->
                <!--<p><a href="#">@GrayGrids </a> Lorem ipsum dolor et, consectetur adipiscing eli.</p>-->
                <!--<span>28 February 2014</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<p><a href="#">@GrayGrids </a> Lorem ipsum dolor et, consectetur adipiscing eli.An Fusce eleifend aliquet nis application.</p>-->
                <!--<span>26 February 2014</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<p><a href="#">@GrayGrids </a> Lorem ipsum dolor et, consectetur adipiscing eli.</p>-->
                <!--<span>28 February 2014</span>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <!-- .col-md-3 -->
        <!-- End Twitter Widget -->


        <!-- Start Flickr Widget -->
        <!--<div class="col-md-3">-->
          <!--<div class="footer-widget flickr-widget">-->
            <!--<h4>Flicker Feed<span class="head-line"></span></h4>-->
            <!--<ul class="flickr-list">-->
              <!--<li>-->
                <!--<a href="images/flickr-01.jpg" class="lightbox">-->
                  <!--<img alt="" src="images/flickr-01.jpg">-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="images/flickr-02.jpg" class="lightbox">-->
                  <!--<img alt="" src="images/flickr-02.jpg">-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="images/flickr-03.jpg" class="lightbox">-->
                  <!--<img alt="" src="images/flickr-03.jpg">-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="images/flickr-04.jpg" class="lightbox">-->
                  <!--<img alt="" src="images/flickr-04.jpg">-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="images/flickr-05.jpg" class="lightbox">-->
                  <!--<img alt="" src="images/flickr-05.jpg">-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="images/flickr-06.jpg" class="lightbox">-->
                  <!--<img alt="" src="images/flickr-06.jpg">-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="images/flickr-07.jpg" class="lightbox">-->
                  <!--<img alt="" src="images/flickr-07.jpg">-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="images/flickr-08.jpg" class="lightbox">-->
                  <!--<img alt="" src="images/flickr-08.jpg">-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="images/flickr-09.jpg" class="lightbox">-->
                  <!--<img alt="" src="images/flickr-09.jpg">-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <!-- .col-md-3 -->
        <!-- End Flickr Widget -->


        <!-- Start Contact Widget -->
        <div class="col-md-12">
          <div class="footer-widget contact-widget">
            <h4>DevFactory</h4>
            <p>DevFactory emerged from the engineering group of Trilogy Inc, one of the largest privately held software companies worldwide. Trilogy's work solving the most challenging configuration and pricing challenges for large, complex organizations has earned it a reputation for innovation among Fortune 500 clients. DevFactory was born when large Trilogy clients required innovation in the development and maintenance of their large services engagements.</p>
            <ul>
              <!--<li><span>Phone Number:</span> +01 234 567 890</li>-->
              <li><span><a href="http://www.devfactory.com/partner-with-devfactory.php">Contact Us</a></span></li>
              <!--<li><span>Website:</span> www.devfactory.com</li>-->
            </ul>
          </div>
        </div>
        <!-- .col-md-3 -->
        <!-- End Contact Widget -->


      </div>
      <!-- row -->

      <!-- Start Copyright -->
      <div class="copyright-section">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2016  <a href="http://devfactory.com">DevFactory</a> - All Rights Reserved</p>
          </div>
          <div class="col-md-6">
            <ul class="footer-nav">
              <!--<li><a href="#">Sitemap</a></li>-->
              <!--<li><a href="#">Privacy Policy</a></li>-->
              <!--<li><a href="#">Contact</a></li>-->
            </ul>
          </div>
        </div>
      </div>
      <!-- End Copyright -->

    </div>
  </footer>
  <!-- End Footer -->
