<div id="container">

  <tsw-header></tsw-header>
  
  <tsw-carousel>
    <tsw-carousel-slide>
      <img class="img-responsive" src="images/slider/bg1_1.png" alt="slider" />
      <div class="slider-content">
        <div class="col-md-11 text-right">
          <h2 class="animated2">
            <span>Testing Services<strong> 2016</strong></span>
          </h2>
          <h3 class="animated3" style="text-align: right">
            <span>Efficient, Effective, and Effortless Testing</span>
          </h3>
          <p class="animated4" style="text-align: right"><a href="#content" class="slider btn btn-system btn-large">Learn More</a>
          </p>
        </div>
      </div>
    </tsw-carousel-slide>
    <tsw-carousel-slide>
      <img class="img-responsive" src="images/slider/bg2.png" alt="slider" />
      <div class="slider-content">
        <div class="col-md-12 text-center">
          <h2 class="animated4">
            <span><strong>Crossbrowser</strong> Functional Testing</span>
          </h2>
          <h3 class="animated5">
            <span>At no extra effort for you</span>
          </h3>
          <p class="animated6"><a href="#content" class="slider btn btn-system btn-large">Learn more</a>
          </p>
        </div>
      </div>
    </tsw-carousel-slide>
    <tsw-carousel-slide>
      <img class="img-responsive" src="images/slider/bg3.png" alt="slider" />
      <div class="slider-content">
        <div class="col-md-11 col-md-offset-1 text-left">
          <h2 class="animated7 white">
            <span>The way of <strong>Success</strong></span>
          </h2>
          <h3 class="animated8 white" style="text-align: left">
            <span>Software Quality</span>
          </h3>
          <div class="">
            <a class="animated4 slider btn btn-system btn-large btn-min-block" href="#content">Learn More</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>
          </div>
        </div>
      </div>
    </tsw-carousel-slide>
  </tsw-carousel>

  <div id="content">

    <div class="container">

      <tsw-highlights>
        <tsw-highlights-item iconClass="fa fa-globe fa-4x" title="Efficient" description="The cost to run your entire test fleet is only pennies. You also get your results within the hour, no matter the number of test cases. See your product as it tests with embedded screen shots of your product in action."></tsw-highlights-item>
        <tsw-highlights-item iconClass="fa fa-magic fa-4x" title="Effective" description="Our automated tests work like humans do. With our proprietary test engine, you can design the most complex functional tests or end user scenarios. You can also run your tests on every code commit."></tsw-highlights-item>
        <tsw-highlights-item iconClass="fa fa-rocket fa-4x" title="Effortless" description="Integrate your continuous integration set up with our testing service to have your tests automatically triggered. Pair that with tests that fix themselves, or that fix with the click on the button, and you'll forget we where here."></tsw-highlights-item>
      </tsw-highlights>

    </div>

    <div class="container">

      <tsw-services title="Services">
        <tsw-services-item imageSrc="images/server.jpg" title="Seamless Setup" description="Tooling your product"></tsw-services-item>
        <tsw-services-item imageSrc="images/bot.png" title="Accelerated Automation" description="Creating your tests"></tsw-services-item>
        <tsw-services-item imageSrc="images/rocket.jpg" title="Efficient Execution" description="Run your tests. Find your bugs."></tsw-services-item>
        <tsw-services-item imageSrc="images/tools.jpg" title="Magic Maintenance" description="Automatic, or with 1 Click!"></tsw-services-item>
      </tsw-services>

    </div>

    <!-- Divider -->
    <div class="hr1 margin-60"></div>

    <!-- Start News & Skill Section -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          
          <tsw-latest-news title="Latest News">
            <tsw-latest-news-item day="01" month="May" iconClass="fa fa-star" title="We're Here!" content="It's Official. We are open for external customers.  We have been working diligently with some of our partner companies as guinea pigs to bring you the revolution of functional testing and test automation. Contact us today to get started!"></tsw-latest-news-item>

            <!-- <tsw-latest-news-item day="26" month="Dec" iconClass="fa fa-picture-o" title="Gallery Post" content="It's Official. We are open for external customers.  We have been working diligently with some of our partner companies as guinea pigs to bring you the revolution of functional testing and test automation. Contact us today to get started!"></tsw-latest-news-item> -->

            <h4 class="classic-title"><span>How We Do What We Do</span></h4>
            <p>Code changes. Products change. Inevitably, Tests change. Probably the single most difficult thing about automated tests. With our service, you can spend more time developing code, and less time testing.</p>
            <br>
          </tsw-latest-news>

        </div>
        <!-- .col-md-6 -->

        <div class="col-md-6">

          <tsw-statistics title="Statistics">
            <tsw-statistics-item title="Service Uptime" percentage="99.9" bgColor="#EB6B56" description="99.9% Uptime"></tsw-statistics-item>
            <tsw-statistics-item title="Tests that Heal Themselves. Smart Tests!" percentage="30" bgColor="#F7DA64" description="30% of your tests will heal themselves. Smart Tests!"></tsw-statistics-item>
            <tsw-statistics-item title="Tests you can fix with 1 click!" percentage="50" bgColor="#54ACD2" description="50% Of your tests you can fix with 1 click and no code!"></tsw-statistics-item>
            <tsw-statistics-item title="Tests That We Can Help You With" percentage="100" description="100% Complete"></tsw-statistics-item>
          </tsw-statistics>

        </div>
        <!-- .col-md-6 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
    <!-- End News & Skill Section -->


    <!-- Divider -->
    <div class="hr1 margin-60"></div>

    <div class="container">

      <tsw-clients title="Our Clients">
        <tsw-clients-item url="http://www.aurea.com/index.html" imageSrc="images/Aurea_Logo.png" title="Aurea"></tsw-clients-item>
        <tsw-clients-item url="http://www.gensym.com/" imageSrc="images/Gensym_Logo.png" title="Gensym"></tsw-clients-item>
        <tsw-clients-item url="http://uplandsoftware.com/tenrox/" imageSrc="images/Tenrox_Logo.png" title="Tenrox by Upland"></tsw-clients-item>
        <tsw-clients-item url="https://www.crossover.com/" imageSrc="images/Crossover_Logo.png" title="Crossover"></tsw-clients-item>
        <tsw-clients-item url="http://www.ignitetech.com/" imageSrc="images/Ignite_Logo.png" title="Ignite Tech"></tsw-clients-item>
      </tsw-clients>

    </div>

  </div>

  <tsw-footer></tsw-footer>

</div>

<tsw-back-to-top></tsw-back-to-top>
