/* line 9, ../sass/partials/_grid.sass */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 106, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 62.5%;
  line-height: 1.4em;
}

@media (max-width: 479px) {
  /* line 11, ../sass/partials/_typography.sass */
  html {
    font-size: 46.875%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 11, ../sass/partials/_typography.sass */
  html {
    font-size: 46.875%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 11, ../sass/partials/_typography.sass */
  html {
    font-size: 50.78125%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 11, ../sass/partials/_typography.sass */
  html {
    font-size: 54.6875%;
  }
}
@media (min-width: 1200px) {
  /* line 11, ../sass/partials/_typography.sass */
  html {
    font-size: 62.5%;
  }
}

/* line 27, ../sass/partials/_typography.sass */
body {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  line-height: 2.8rem;
}

/* line 32, ../sass/partials/_typography.sass */
h1, h2, h3, h4, h5, h6, p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

/* line 37, ../sass/partials/_typography.sass */
.md-display-4 {
  font-size: 11.2rem;
  line-height: 12.6rem;
  font-weight: 300;
  letter-spacing: -0.01em;
  margin-bottom: 4.2rem;
}

/* line 43, ../sass/partials/_typography.sass */
.md-display-3 {
  font-size: 5.6rem;
  line-height: 7rem;
  font-weight: 400;
  letter-spacing: -0.005em;
  margin-bottom: 2.8rem;
}

/* line 49, ../sass/partials/_typography.sass */
.md-display-2 {
  font-size: 4.5rem;
  line-height: 5.6rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}

/* line 54, ../sass/partials/_typography.sass */
.md-display-1 {
  font-size: 3.4rem;
  line-height: 4.2rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}

/* line 59, ../sass/partials/_typography.sass */
.md-headline {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}

/* line 64, ../sass/partials/_typography.sass */
.md-title {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}

/* line 69, ../sass/partials/_typography.sass */
.md-subhead {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.01em;
}

/* line 74, ../sass/partials/_typography.sass */
.md-body-1 {
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.01em;
}

/* line 79, ../sass/partials/_typography.sass */
.md-body-2 {
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.01em;
}

/* line 84, ../sass/partials/_typography.sass */
.md-caption {
  font-size: 1.2rem;
  line-height: 2.8rem;
  letter-spacing: 0.02em;
}

/* line 88, ../sass/partials/_typography.sass */
.md-button {
  letter-spacing: 0.01em;
}

/* line 3, ../sass/partials/_base.sass */
.tswapp {
  height: 14rem;
  width: 100%;
}

/* line 1, ../sass/partials/_header.sass */
.header {
  background: #ccc;
}
