<!-- Tob hero block with CTA -->
<tsw-hero></tsw-hero>

<!-- List of Top 3 features -->
<tsw-features></tsw-features>

<!-- Demo video -->
<tsw-video></tsw-video>

<!-- Three coolest statistic numbers -->
<tsw-statistics></tsw-statistics>

<!-- 6 most interesting customers -->
<tsw-customers></tsw-customers>

<!-- Most wonderfull reviews carousel -->
<tsw-reviews></tsw-reviews>

<section class="block secondary-block-light align-center">
  <div class="container closing-statement">
    <h2 class="md-display-1">Instantly improve your product quality <br class="visible-lg visible-md" /> by automation</h2>
    <p>&nbsp;</p>
    <button md-raised-button color="accent">REQUEST YOUR FREE DEMO NOW</button>
  </div>
</section>
