<tsw-hero></tsw-hero>

<section class="block secondary-block-light align-center">
  <div class="container">
    <tsw-features></tsw-features>
  </div>
</section>

<section class="block primary-block demo-video align-center">
  <div class="container">
    <h3 class="md-display-1">Check out <button md-fab color="primary"><md-icon class="md-24">play_arrow</md-icon></button> the video</h3>
  </div>
</section>

<section class="block secondary-block-dark align-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h4 class="md-headline">Tests Automated:</h4>
        <p class="md-display-3">188,094</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h4 class="md-headline">Provision Runs:</h4>
        <p class="md-display-3">53,997</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h4 class="md-headline">Code Coverage:</h4>
        <p class="md-display-3">71%</p>
      </div>
    </div>
  </div>
</section>

<section class="block secondary-block-light align-center">
  <div class="container">
    <h3 class="md-display-1">Some of the world’s most respected companies trust DevFactory!</h3>
    <p class="md-subhead secondary">See who saved more than 50% on IT Services by leveraging DevFactory tools.</p>
    <div class="row customers">
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 customer-logo">
        <img src="../../public/images/aurea.png" alt="Aurea">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 customer-logo">
        <img src="../../public/images/crossover.png" alt="Crossover">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 customer-logo">
        <img src="../../public/images/gensym.png" alt="Gensym">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 customer-logo">
        <img src="../../public/images/ignite.png" alt="Ignite">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 customer-logo">
        <img src="../../public/images/tenrox.png" alt="Tenrox">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 customer-logo">
        <img src="../../public/images/versata.png" alt="Versata">
      </div>
    </div>
  </div>
</section>

<section class="block primary-block align-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        <div class="review">
          <img src="../../public/images/andy.png" alt="" class="img-circle review-image" />
          <h4 class="md-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</h4>
          <p class="md-subhead">- Andy Montgomery, SVP Engineering Aurea</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block secondary-block-light align-center">
  <div class="container closing-statement">
    <h2 class="md-display-1">Instantly improve your product quality <br class="visible-lg visible-md" /> by automation</h2>
    <p>&nbsp;</p>
    <button md-raised-button color="accent">REQUEST YOUR FREE DEMO NOW</button>
  </div>
</section>
