
/* Features */

.features {
}

.features md-icon {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  line-height: 4rem;
  opacity: 0.55;
}

.features .md-headline {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* Customers */

.customers {
  margin-top: 3rem;
}

.customer-logo img {
  width: 90%;
}

/* Reviews */

.review {
  padding: 3rem 0 0;
}

.review-image {
  max-width: 150px;
  margin-bottom: 3rem;
  display: inline-block;
}

.review .md-title {
  font-weight: 400;
  line-height: 3rem;
}

.review .md-subhead {
  font-weight: 300;
  margin: 3rem 0;
}

/* Closing statement */

.closing-statement {
  padding: 4rem 0;
}

/* Demo video */

.demo-video {
  background: url(../../public/images/video_bg.jpg) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.demo-video button {
  margin: auto 2rem;
}
