<!-- Top hero block with CTA -->
<tsw-hero></tsw-hero>

<div class="page-content">
  <!-- List of Top 3 features -->
  <tsw-features></tsw-features>

  <!-- Demo video -->
  <tsw-video></tsw-video>

  <!-- Three coolest statistic numbers -->
  <tsw-statistics></tsw-statistics>

  <!-- 6 most interesting customers -->
  <tsw-customers></tsw-customers>

  <!-- Help screenshots -->
  <tsw-help></tsw-help>

  <!-- Most wonderfull reviews carousel -->
  <tsw-reviews></tsw-reviews>

  <!-- Closing statement with CTA -->
  <tsw-closing-statement></tsw-closing-statement>

  <!-- Footer -->
  <tsw-footer></tsw-footer>

  <!-- Google Analytics -->
  <tsw-google-analytics></tsw-google-analytics>

</div>
