<md-card class="cta-form">
  <form>
    <md-input class="full-width" placeholder="Your Name"></md-input>
    <md-input class="full-width" placeholder="Your E-mail" required></md-input>
    <div class="cta-wrapper">
      <button md-raised-button color="accent" type="submit" class="cta-button">REQUEST YOUR FREE DEMO NOW</button>
      <img src="../../../../public/images/calm-arrow.gif" class="arrow" />
    </div>
  </form>
  <md-card-subtitle class="md-body-1">To have your quality tests running by next Monday, start by requesting a quick demo today.</md-card-subtitle>
</md-card>
