<md-card class="cta-form">
  <form (ngSubmit)="sendRequest(email.value, name.value)">
    <md-input name="name" class="full-width" #name placeholder="Your Name" [disabled]="submitted"></md-input>
    <md-input class="full-width" #email placeholder="Your E-mail" required [disabled]="submitted"></md-input>
    <div class="cta-wrapper">
      <button md-raised-button color="accent" type="submit" class="cta-button" [disabled]="loading || submitted">
        <span *ngIf="!submitted">REQUEST YOUR FREE DEMO NOW</span>
        <span *ngIf="submitted">YOUR REQUEST SENT. THANKS!</span>
      </button>
      <img src="../../../../public/images/calm-arrow.gif" class="arrow" />
    </div>
  </form>
  <md-card-subtitle class="md-body-1">To have your quality tests running by <strong>{{thisOrNextWeek}} {{readyDay}}</strong>, start by requesting a quick demo today.</md-card-subtitle>
</md-card>
