/* General */

html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  font-size: 1.6rem;
}

a {
  color: #00bcd4;
}

a:hover {
  color: #00bcd4;
}

iframe {
  border: none;
}

.flex {
  display: flex;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.align-center {
  text-align: center;
}

.display-none {
  display: none;
}

.secondary {
  opacity: 0.55;
}

.block {
  padding: 8rem 0;
}

.primary-block {
  background-color: #00b3d0;
  color: #fff;
}

.secondary-block-light {
  background-color: #f9f9f9;
}

.secondary-block-dark {
  background-color: #eeeeee;
}


.shadow {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  margin-bottom: 4rem;
}

.shadow:hover {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.img-responsive {
  max-width: 100%;
}

/* Typography */

@media (max-width: 479px) {
  html { font-size: 46.875%; }
}
@media (min-width: 480px) and (max-width: 767px) {
  html { font-size: 46.875%; }
}
@media (min-width: 768px) and (max-width: 991px) {
  html { font-size: 50.78125%; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  html { font-size: 54.6875%; }
}
@media (min-width: 1200px) {
  html { font-size: 62.5%; }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.md-display-4 {
  font-size: 11.2rem;
  font-weight: 300;
  letter-spacing: -.010em;
  line-height: 11.2rem;
}

.md-display-3 {
  font-size: 5.6rem;
  font-weight: 400;
  letter-spacing: -.005em;
  line-height: 5.6rem;
}

.md-display-2 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 6.4rem;
}

.md-display-1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4rem;
}

.md-headline {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.md-title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .005em
}

.md-subhead {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .010em;
  line-height: 2.4rem;
}

.md-body-1 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .010em;
  line-height: 2rem;
}

.md-body-2 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .010em;
  line-height: 2.4rem;
}

.md-caption {
  font-size: 1.2rem;
  letter-spacing: .020em;
}

.md-button {
  letter-spacing: .010em;
}


/* Animation */

@keyframes animLoadedContent {
  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
}

@-webkit-keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
  }
}

@keyframes animLoadedPage {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes animLoadedPage {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
