.client-item a {
    display: block;
    padding: 12px 0;
    text-align: center;
}

.client-item a img {
    height: 50px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

:host-context(.clients-carousel:hover) .client-item a img {
    opacity: 0.6;
}

:host-context(.clients-carousel:hover) .client-item a:hover img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: none;
    opacity: 1;
}

/*************** Custom Carousel ***************/

:host-context(.custom-carousel) .item {
    padding-right: 20px;
}

:host-context(.custom-carousel.show-one-slide) .item {
    padding-right: 0;
}