/* Help */

.caption {
  margin-bottom: 6rem;
}

.help-item {
  margin-bottom: 6rem;
  text-align: center;
}

.help-screens {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
