<!-- Full Body Container -->
<div id="container">
  <tsw-header></tsw-header>
  <tsw-carousel>
    <tsw-carousel-slide>
      <img class="img-responsive" src="images/slider/bg1_1.png" alt="slider" />
      <div class="slider-content">
        <div class="col-md-11 text-right">
          <h2 class="animated2">
            <span>Testing Services<strong> 2016</strong></span>
          </h2>
          <h3 class="animated3" style="text-align: right">
            <span>Efficient, Effective, and Effortless Testing</span>
          </h3>
          <p class="animated4" style="text-align: right"><a href="#content" class="slider btn btn-system btn-large">Learn More</a>
          </p>
        </div>
      </div>
    </tsw-carousel-slide>
    <tsw-carousel-slide>
      <img class="img-responsive" src="images/slider/bg2.png" alt="slider" />
      <div class="slider-content">
        <div class="col-md-12 text-center">
          <h2 class="animated4">
            <span><strong>Crossbrowser</strong> Functional Testing</span>
          </h2>
          <h3 class="animated5">
            <span>At no extra effort for you</span>
          </h3>
          <p class="animated6"><a href="#content" class="slider btn btn-system btn-large">Learn more</a>
          </p>
        </div>
      </div>
    </tsw-carousel-slide>
    <tsw-carousel-slide>
      <img class="img-responsive" src="images/slider/bg3.png" alt="slider" />
      <div class="slider-content">
        <div class="col-md-11 col-md-offset-1 text-left">
          <h2 class="animated7 white">
            <span>The way of <strong>Success</strong></span>
          </h2>
          <h3 class="animated8 white" style="text-align: left">
            <span>Software Quality</span>
          </h3>
          <div class="">
            <a class="animated4 slider btn btn-system btn-large btn-min-block" href="#content">Learn More</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>
          </div>
        </div>
      </div>
    </tsw-carousel-slide>
  </tsw-carousel>

  <tsw-index></tsw-index>

</div>
<!-- End Container -->

<tsw-back-to-top></tsw-back-to-top>
