@import "compass"
@import "../typography"

.demo-video
  text-align: center
  background: url("../../images/video_bg.jpg") no-repeat center center
  +background-size("cover")
  padding: rhythm(8) 0
  color: #fff
  +type-setting(3)
  font-weight: 100

  .play-button
    margin: 0 rhythm(1)
    line-height: 56px
