@import "../layout"
@import "../typography"

.header
  padding: rhythm(2) 0 0

  +respond-to('large')
    text-align: center

  h1
    opacity: 0.64

.header__container
  @extend .container

.benefits
  text-align: left
  width: rhythm(20)
  margin: rhythm(2) auto

.cta
  margin: rhythm(2) 0
