@import "../typography"
@import "../layout"
@import "../animation"

.header
  padding: rhythm(2) 0 0

  text-align: center

  h1
    opacity: 0.64
    @extend %animated
    +animation-delay(0.2s)

  h2
    @extend %animated
    +animation-delay(0.25s)

.header__container
  @extend %container

.benefits
  text-align: right
  width: rhythm(20)
  margin: rhythm(6) auto
  @extend %animated
  +animation-delay(0.3s)

  +respond-to('large')
    +span(6 of 12)

  +respond-to('wide')
    margin-left: span(2 of 12) + gutter()
    width: span(4 of 12)

.cta
  text-align: left
  width: rhythm(20)
  margin: rhythm(4) auto
  @extend %animated
  +animation-delay(0.4s)

  +respond-to('large')
    +span(6 of 12 last)

  +respond-to('wide')
    +span(4 of 12)

.screenshots
  margin: rhythm(2) 0 0
