/*************** Latest News ***************/

.post-row {
    margin-bottom: 20px;
}

.left-meta-post {
    float: left;
    text-align: center;
    margin-right: 12px;
    margin-bottom: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    overflow: hidden;
}

.left-meta-post .post-date {
    padding: 8px 0;
    width: 42px;
    background-color: #444;
    color: #fff;
}

.left-meta-post .post-date .day {
    font-size: 20px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
}

.left-meta-post .post-date .month {
    display: block;
    text-transform: uppercase;
    line-height: 14px;
    font-size: 11px;
    letter-spacing: 1px;
}

.left-meta-post .post-type i {
    display: block;
    height: 40px;
    line-height: 39px;
    width: 42px;
    color: #fff;
    font-size: 1.4em;
}

.post-title {
    margin-bottom: 5px;
}

.post-title a {
    color: #444;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.read-more {
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.read-more:hover {
    color: #444;
}